<div>
    <main>
        <section>
            <div class="card col-4 p-3 my-3 text-bg-success">
                <h1 class="m-2">{{name}}</h1>
               
                <div>
                <p>Birthday: {{birthdate}}</p>
                
                <p>Birthplace: {{birthplace}}</p>
              
                <p>Deathdate: {{deathdate}}</p>
               
                <p>Deathplace: {{deathplace}}</p>
               
                <p>Nationality: {{nationality}}</p>
               
                <p>Occupation: {{occupation}}</p>
                
                </div>
                <hr>
                <em>Known for:</em>
                <div>
                <ul>
                {{#each known_for}}
                    <li>{{this}}</li>
                {{/each}} 
                </ul>
                </div>
            </div>
            
            <div class="card col-4 p-3 my-3 text-bg-success">
                <strong>Education:</strong> 
                <div>
                    <ul>
                        {{#each education}}
                            <li>
                            Degree: {{degree}}
                            <br>
                            Field: {{field}}
                            <br>
                            Institution: {{institution}}
                            <br>
                            Year: {{year}}
                            </li>
                        {{/each}}
                    </ul>
                </div>           
            </div>
            
            <div class="card col-4 p-3 my-3 text-bg-success">
                <strong>Notable publications:</strong>
                <div>
                    <ul>
                        {{#each notable_publications}}
                            <li>
                            <b>{{title}}</b>
                            <br>
                            Year: {{year}}
                            <br>
                            Publisher: {{publisher}}
                            </li>
                        {{/each}}
                    </ul> 
                </div>
            </div>

            <div class="card col-4 p-3 my-3 text-bg-success">
                <strong>Partners:</strong>
                <div>
                    <ul>
                        {{#each partners}}
                            <li>
                            <b>{{name}}</b>
                            <br>
                            Relationship: {{relationship}}
                            <br>
                            Years: {{years}}
                            </li>
                        {{/each}}
                    </ul> 
                </div>
            </div>

            <div class="card col-4 p-3 my-3 text-bg-success">
                <strong>Awards:</strong>
                <div>
                    <ul>
                        {{#each awards}}
                            <li>
                            {{title}}
                            <br>
                            Year: {{year}}
                            <br>
                            {{description}}
                            </li>
                        {{/each}}
                    </ul> 
                </div>
            </div>

            <div class="card col-4 p-3 my-3 text-bg-success">
                <b>Influences:</b>
                <ul>
                {{#each influences}}
                    <li>{{this}}</li>
                {{/each}} 
                </ul>
            </div>
           
            <div class="card col-4 p-3 my-3 text-bg-success">
                    <b>influenced:</b>
                <ul>
                {{#each influenced}}
                    <li>{{this}}</li>
                {{/each}} 
                </ul>
            </div>
            
            <div class="card col-4 p-3 my-3 text-bg-success">
                <b>Quotes:</b>
                <ul>
                {{#each quotes}}
                    <li>{{this}}</li>
                {{/each}} 
                </ul>
            </div>
            
            <div class="card col-4 p-3 my-3 text-bg-success">
                <b>Major discoveries:</b>
                <ul>
                {{#each major_discoveries}}
                    <li>
                        <abbr>{{title}}</abbr>
                        <br>
                        Year: {{year}}
                        <br>
                        {{description}}
                    </li>
                {{/each}} 
                </ul>
            </div>
            
            <div class="card col-4 p-3 my-3 text-bg-success">
                <b>Contributions:</b>
                <ul>
                {{#with contributions}}
                    <li>
                        <abbr>{{title}}</abbr>
                        <br>
                        {{description}}
                        <br>
                        Year: {{year}}
                        <br>
                        Field: {{field}}
                    </li>
                {{/with}} 
                </ul>
            </div>
            
        </section>
    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
