<div>
    <main>
        <section>
            <h1>{{name}}</h1>
            
                <ul>
                    
                    {{#each users}}
                    <div class="card col-2 p-3 my-3 text-bg-primary">
                       <span class="badge rounded-pill text-bg-danger">Users: </span> 
                        <li>
                            ID: {{id}}
                        </li>
                        <li>
                            name: {{name}}
                        </li>
                        <li>
                            gender: {{gender}}
                        </li>
                        <li>
                            age: {{age}}
                        </li>
                        <li>
                </ul>
            </div>
            
                        <ul>

                            {{#each friends}}
                            <div class="card col-2 p-3 my-3 ms-5 text-bg-primary">
                            <span class="badge rounded-pill text-bg-success">friends: </span>
                                <li>
                                ID: {{id}}
                                </li>
                                <li>
                                    name: {{name}}
                                </li>
                                <li>
                                    gender: {{gender}}
                                </li>
                                <li>
                                    age: {{age}}
                                </li> 
                        </ul>
            </div>
            <div class="card col-2 p-3 my-3 text-bg-primary">
                                
                <ul>
                {{#each mutual_friends}}
                <span class="badge rounded-pill text-bg-danger">mutual_friends: </span> 
                    <li>
                    ID: {{id}}
                    </li>
                    <li>
                        name: {{name}}
                    </li>
                    <li>
                        gender: {{gender}}
                    </li>
                    <li>
                        age: {{age}}
                    </li>

                {{/each}}
                </ul>
            </div>
            {{/each}}
            <div class="card col-2 p-3 my-3 ms-5 text-bg-primary">                 
                            <ul>
                            {{#each groups}}
                                <span class="badge rounded-pill text-bg-warning">groups: </span>
                                <li>
                                    ID: {{id}}
                                </li>
                                <li>
                                    name: {{name}}
                                </li>
                                <li>
                                    description: {{description}}
                                </li>
                                <li>
                                    <ul>
                                        {{#each members}}
                                        members:
                                        <li>
                                        ID: {{id}}
                                        </li>
                                        <li>
                                            name: {{name}}
                                        </li>
                                        <li>
                                            gender: {{gender}}
                                        </li>
                                        <li>
                                            age: {{age}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                            </ul>
            </div> 
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
</div>
