<main>
    {{#with header}}
    <div class="card p-3 my-3">
        <div class="">{{name}}</div>
        <div class="text-end">{{work}}</div>
    </div>
    {{/with}}
  
    <div class="mb-5">
        <h1 class="mb-5">{{awards}}</h1>
        {{#each description}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{#each href}}
        <a href="{{link}}" class="btn 
        {{#if isWarning}}btn-warning{{/if}} 
        {{#if isPrimary}}btn-primary{{/if}}
        {{#if isSuccess}}btn-success{{/if}}
        {{#if isDanger}}btn-danger{{/if}} my-1">{{text}}
        </a><br>
    {{/each}}


</main>
       
