<div> 
    <main>
        <section>
            <div class="card col-4 p-3 my-3 text-bg-primary">
                <h1><span class="badge bg-secondary">{{name}}</span></h1>
                <p><b>{{description}}</b></p> 
                <div> 
                    year: {{history.year}}<br>
                    founder: {{history.founder}}<br>
                </div> 

                <div> 
                    types:
                <ul>
                    {{#each types}}
                
                    <span class="badge text-bg-success"><li>{{this}}</li></span>
                    <br>
                    {{/each}}
                </ul>
                </div>
            </div>
                <div class="card col-4 p-3 my-3 ms-5 text-bg-primary">
                    <b class="my-2">syntax:</b>
                    
                    {{#with syntax}}
                        {{#each variables}}
                        <span class="badge text-bg-success my-2"><li class="my-2">{{this}}</li></span>
                        
                        {{/each}}
                        
                        {{#each functions}}
                        <span class="badge text-bg-info my-2"><li class="my-2" >{{this}}</li></span>
                      
                        {{/each}}
                        
                        {{#each conditionals}}
                        <span class="badge text-bg-danger my-2"><li class="my-2">{{this}}</li></span>
                       
                        {{/each}}
                        
                        {{#each loops}}
                        <span class="badge text-bg-light my-2"><li class="my-2">{{this}}</li></span>
                        
                        {{/each}}
                        
                        {{#each classes}}
                        <span class="badge text-bg-dark my-2"><li class="my-2">{{this}}</li></span>
                        
                        {{/each}}
                        
                    {{/with}}
                </div> 

                <div class="card col-4 p-3 my-3 text-bg-primary">
                     <b>libraries:</b> <br>
                    {{#each libraries}}
                        <span class="badge text-bg-dark"><li class="my-2">{{this}}</li></span>
                        <br>
                    {{/each}}
                     <b>libraries:</b> <br>
                     {{#each tools}}
                        <span class="badge text-bg-light"><li class="my-2">{{this}}</li></span>
                        <br>
                    {{/each}}
                    <div>
                         <b>community:</b> <br>
                        {{#each community}}
                           
                            <span ><li><button type="button" class="btn btn-link">{{name}}<br>{{type}}</button></li></span>
                           
                        {{/each}}
                    </div>
                </div>               
        </section>
    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
