<div>
    <main>
        <section>
            <div class="col-10">
                <div class="text-center">
                    <h1>{{name}}</h1>
                    <em>{{description}}</em><br>
                    <b><span class="badge rounded-pill text-bg-danger">{{price}}</span></b><br>
                    <b>{{category}}</b><br>
                    <span class="badge text-bg-primary">features:</span>
                </div> 
            </div>
            <div>  
                <div class="row">
                    {{#with features}}
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#with processor}}
                                <span class="badge text-bg-primary">processor:</span>
                                <li>
                                    brand{{brand}}
                                </li>
                                <li>
                                    model{{model}}
                                </li>
                                <li>
                                    speed{{speed}}
                                </li>
                                <li>
                                    cores{{cores}}
                                </li>
                                <li>
                                    cache{{cache}}
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#with memory}}
                                <span class="badge text-bg-primary">memory:</span>
                                <li>
                                    type{{type}}
                                </li>
                                 <li>
                                    size{{size}}
                                </li>
                                 <li>
                                    size{{size}}
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#with storage}}
                                 <span class="badge text-bg-primary">storage:</span>
                                <li>
                                    type{{type}}
                                </li>
                                 <li>
                                    size{{size}}
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#with display}}
                                <span class="badge text-bg-primary">display:</span>
                                <li>
                                    size{{size}}
                                </li>
                                 <li>
                                    resolution{{resolution}}
                                </li>
                                 <li>
                                    technology{{technology}}
                                </li>
                                 <li>
                                    color_space{{color_space}}
                                </li>
                                 <li>
                                    brightness{{brightness}}
                                </li>
                                <li>
                                    refresh_rate{{refresh_rate}}
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#with graphics}}
                                <span class="badge text-bg-primary">graphics:</span>
                                <li>
                                    brand{{brand}}
                                </li>
                                 <li>
                                    model{{model}}
                                </li>
                                 <li>
                                    memory{{memory}}
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#each ports}}
                                <span class="badge text-bg-primary">ports:</span>
                                <li>
                                    type{{type}}
                                </li>
                                <li>
                                    count{{count}}
                                </li>
                                 <li>
                                    <ul>
                                        {{#each features}}
                                            features:
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </li>

                                {{/each}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#with battery}}
                                <span class="badge text-bg-primary">ports:</span>
                                <li>
                                    type{{type}}
                                </li>
                                <li>
                                    capacity{{capacity}}
                                </li>
                                 <li>
                                    life{{life}}
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                          <span class="badge text-bg-primary">operating_system: {{operating_system}} </span>  
                        </div>
                        <div class="card col-3 p-3 m-3 text-bg-info">
                            <ul>
                                {{#each accessories}}
                                <span class="badge text-bg-primary">accessories:</span>
                                <li>
                                    name {{name}}
                                </li>
                                 <li>
                                    price {{price}}
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/with}}
                </ul>
            </div>
            </div>
        </section>
    </main>
</div>
