<main>
    <section> 
        {{#with navigation}}
            <div class="row mb-5">
                <div class="card p-3">
                    <div class="nav">
                    {{#each links}} 
                        <div class="nav-item">   
                            <a href="{{href}}" class="nav-link">{{text}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/with}}
    </section>

     
    <section>  
        <div>
        <h1 class="text-center mb-4">Топ Статті</h1>
            {{#with newsBlock}}
               <div class="row g-2">
                    {{#each cards}}
                        <div class="col-3 pe-2">
                            <div class="card text-bg-dark">
                                <div class="card-header text-light">
                                    {{title}} 
                                    {{#if isTop}}
                                        <span class="badge text-bg-danger rounded-pill mb-3 btn-sm"><b>Топ</b></span> 
                                    {{/if}}
                                    {{#if isNew}}
                                    <span class="badge text-bg-success rounded-pill mb-3 btn-sm"><b>Нова</b></span>
                                    {{/if}}
                                </div>
                                <div class="card-body">
                                    {{description}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    </section>

    <hr class="my-5">   
   
    <section>
        {{#with goodsBlock}}
            <div class="row g-2">
                <div class="col-12">
                    <div class="nav nav-tabs">
                        {{#each tabs}}
                            <div class="nav-item col-2">   
                                <a href="#" class="nav-link 
                                    {{#if isActive}}active{{/if}} 
                                    {{#if isDisabled}}disabled{{/if}}">
                                    {{text}}
                                </a>
                            </div>
                        {{/each}} 
                    </div>   
                </div> 
            </div> 
        {{/with}}
    </section>

    <hr class="my-5"> 

    <section>
        {{#with goodsBlock}}
        <div class="row g-2">
            {{#each cards}}
           <div class="col-4">
                <div class="card">
                    <img class="card-img-top" alt="image" src="{{image}}">
                    <div class="card-body">
                        <h6 class="card-title">{{title}}
                            {{#if isHot}}
                                    <span class="badge text-bg-warning text-center rounded-pill mb-3 btn-sm"><b>Hot!</b></span>
                            {{/if}}
                            {{#if isNew}}
                                <span class="badge text-bg-primary rounded-pill mb-3 btn-sm"><b>Нова</b></span>
                            {{/if}}
                        </h6>
                        <p><div class="">{{description}}</div></p>
                    
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
      {{/with}}
    </section>

    <hr class="my-5"> 

    <section>
        {{#with subscribe}}
        <div class="row g-2">
           <div class="col-12"> 
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h6 class="card-title">{{header}}</h6>
                        <p><div class="">{{description}}</div></p>
                        {{#each buttons}}
                        <button class="btn btn-primary text-center mb-3" href="{{link}}">{{text}}</button><br>
                        {{/each}}
                    </div>
               </div>
            </div>
        </div>
        {{/with}}
    </section>

    <hr class="my-5"> 

</main>   