{{#each goodsBlock}}
        <section> 
            <div class="card row p-3">  
                <div class="row"> 
                <div class="card col-2">
                <img src="{{image}}">
                </div>
                <div class="col-4">
                    <div>
                    <h4><b>{{name}}</b></h4>
                    <p>{{description}}</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="m-5 text-center"> 
                    <h5>{{price.title}}:</h5>
                    <h3>{{price.value}}</h3>
                    </div>
                </div>
                <div class="col-2">
                    <div class="m-5 text-center"> 
                    <h5>{{amount}}</h5>
                    </div>
                </div>
                <div class="col-2">
                    <div class="m-5 text-center"> 
                    {{#each buttons}}
                        <button class="btn m-2 {{#if isDanger}}btn-outline-danger{{/if}} {{#if isPrimary}}btn-primary{{/if}}">{{text}}</button><br>
                    {{/each}}
                    </div>
                </div>
            </div> 
       </section>
   {{/each}}